body{
  /* import background image from GIPHY  */
  background-image: url(http://giphygifs.s3.amazonaws.com/media/4xuVp2pfYSc5G/giphy.gif);
  /* background-repeat: no-repeat; */
  background-size: 100%;
  font-family: "Courier New", Courier, monospace; /* font style */
  color:black;  /* font color */
}


/* Set your video size */
/* video{
  width: 400px;
  height:240px;
} */

/* iframe{
  width: 400px;
  height:240px;
} */

/* Set your image size */
img{
  width: 400px;
  height: 225px;
}

/* You can adjust single video by selecting their class name */
/* .video1{
  transform: rotate(45deg);
}
.video2{
  transform: rotate(90deg);
}
.video3{
  transform: rotate(180deg);
} */

/* Add some animation! */
.image1{
  animation: animation-name 1s infinite; /* Define your animation's name and duration */
}
/* Use @keyframes to set animation type */
@keyframes animation-name{
  10% {
    transform: translate( 20px);
  }
  /* 50% {
    transform: translate( 100px);
  } */
  /* 100% {
    transform: translate( 50px);
   } */
}

.image2{
  animation: animation-name 1s infinite; /* Define your animation's name and duration */
}
/* Use @keyframes to set animation type */
@keyframes animation-name{
  10% {
    transform: translate( 20px);
  }
  /* 50% {
    transform: translate( 100px);
  } */
  /* 100% {
    transform: translate( 50px);
   } */
}
