body{
  /* import background image from GIPHY  */
  background-image: url(http://giphygifs.s3.amazonaws.com/media/4xuVp2pfYSc5G/giphy.gif);
  background-size: 100%;
  font-family: "Courier New", Courier, monospace;
  color:black;
}
