body{
  background-image: url(https://i.giphy.com/media/VxbvpfaTTo3le/giphy.webp);
  background-size: 100%;
  font-family: "Courier New", Courier, monospace;
  color:black;
  text-align: center;
}

.image1{
  transform: rotate(-270deg);
  margin-bottom: 48px;
  margin-top: 48px;
}

.video1{
  align-content: center;
  transform: scale(1);
}
